body {
  background-color: pink;
  border-width: 80px 50px 0 50px;

}


h1 {
  color: grey;
  font-size: 40px;
  margin-left: 60px;

}
.answer {
  color: darkgrey;
  font-size: 40px;
  font-style: oblique;

}

input {
  background-color: lightgreen;
  border: 5px solid yellow;
}
.text{
  color: red;
}
